.log{
  
    display:flex;
    width:80%;
    font-family: 'Kiwi Maru', serif;
    margin: 0 auto;
    
    border-radius: 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: white;
    
    
    
  
  }
  
  .Signup{
    
    background-image: url("./images/pexels-markus-spiske-116720.jpg");
    background-size: cover;
    
    
    height: 900px;
    background-position: center;
    /* background-image:url("./images/email-3249062.png"); */
    
  }
  .sub{
    flex:auto;
    width: 50%;
    
    
    
  }
  .sub.hd{
    /* background-image: url("./images/question-2519654.svg"); */
    
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px ;
    
  }
  .selects{
    text-align: center;
  }
  .select{
    width:20%;
    margin-left: 15px;
    text-align: center;
  }
  
  
  .sub.sd p{
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: bolder;
    color: rgb(7, 173, 7);
  }
  
  
  .sub.hd{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url("./images/le-wagon-ofeO3-rfaAo-unsplash.jpg");
    background-position: center;
    background-size: cover ;
   
    
    
  }
  
  .input{
    
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .matter p{
    text-align: center;
    
    color: white;
    font-size:18px;
  }
  .matter{
    padding-top: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.348);
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px ;

  }
  .Ups{
    padding-top: 80px;
        height: 100%;
    background-color: rgba(0, 0, 0, 0.348);
    padding-bottom: 100px;
    
  }
  /* Form{
    border: 1px solid black;
    width: 100%;
  } */
  .button{
    display:flex ;
    background-color: white;
  }

  
  